streamlit==1.16.0
tokenizers==0.13.2
toml==0.10.2
toolz==0.12.0
torch==1.13.1
tornado==6.2
tqdm==4.64.1
traitlets==5.8.0
transformers==4.25.1
typed-ast==1.5.4
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.13
validators==0.20.0
virtualenv==20.17.1
watchdog==2.2.0
wcwidth==0.2.5
wheel==0.37.1
whisper==1.0
widgetsnbextension==4.0.5
yarg==0.1.9
zipp==3.11.0
